.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 3px;
}
.one{
background-color: cadetblue;
}
.two{
    background-color:chartreuse
}
.three{
    background-color:coral
}
.four{
    background-color:crimson
}
.five{
    background-color:darkblue
}
.six{
    background-color:darkkhaki
}
.seven{
    background-color:darkgreen;  
}
.eight{
    background-color:dodgerblue;  
}
.nine{
    background-color:lightcoral;  
}
.ten{
    background-color:magenta;  
}
div{
text-align: center;
}

