.container{
    display: grid;
    grid-template: 50px 200px 50px / repeat(12, 1fr);
    grid-gap: 3px;
}
.top-nav{
    grid-column: 1/-2;
    background-color: yellowgreen;
}
.side-nav{
    grid-row: 1/-1;
    grid-column: 12/ span 1;
    background-color: cadetblue;
}
.footer{
    grid-column: 1/-2;
    background-color: chocolate;
}
.art-two{
    grid-column: 2/-2;
    background-color: darkcyan;
}
.art-one{
    background-color: gold;
}
div{
text-align: center;
}

