.container{
    display: grid;
    grid-template-columns:repeat(12, 1fr); 
    grid-auto-rows: 100px;
    grid-gap: 3px;
}
.top-nav{
    grid-column: 2/-1;
    background-color: yellowgreen;
}
.side-nav{
    grid-row: 1/-1;
    background-color: cadetblue;
}
.footer{
    grid-column: 2/-1;
    background-color: chocolate;
}
.art-two{
    grid-column: 3/-1;
    background-color: darkcyan;
}
.art-one{
    background-color: gold;
}
div{
text-align: center;
}

